body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #fa0202;
}

.btn-primary {
    border-radius: 5px;
    background-color: #fa0202;
    border: none;
    padding: 18px 35px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;

}

.btn-primary:hover {
    background-color: #960101;
}


.banner-container {
    color: #f1f0f0;
    width: 1440px;
    height: 600px;

    margin: 50px auto;
    border-radius: 20px;
    background-image:
        linear-gradient(to top, rgba(255, 0, 0, 0), rgb(0, 0, 0)), url(../images/Banner\ Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section-title {

    padding: 130px 0;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.section-title h1 {
    margin-top: 0%;
    text-align: center;
    font-size: 72px;
    font-weight: 800;
}

.section-title h3 {
    margin-bottom: 0%;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.offer-section {
    /* padding:120px auto ; */
    margin: 120px auto;
    text-align: center;

}

.offer-title {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 45px;
    margin-bottom: 0%;
}

.offwer-description {

    margin-bottom: 0%;
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;

}

.category-title {
    padding-top: 0%;
    margin-top: 0%;
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 800;

}

.offer-image {
    padding-top: 45px;
    width: 800px;
    height: 500px;

}






.welcome-section {
    color: #f1f0f0;
    width: 1440px;
    height: 600px;
    display: flex;
    margin: 150px auto;
    border-radius: 20px;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(0, 0, 0)), url(../images/Vectorrr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    align-items: center;

}

.welcome-img {
    padding: 120px;
    width: 320px;
    height: 450px;
    /* margin-bottom: 20px; */
}

.welcome-text {
    padding: 120px 120px;
}

.welcome-title {
    font-size: 64px;
    font-weight: 800;
}

.welcome-description {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}


.hotel-section {
    width: 1440px;
    height: 500px;
    /* background-color: rgb(255, 217, 217); */
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(252, 210, 210));
    border-radius: 20px;
    margin: 100px auto;
    padding-top: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hotel-text {
    align-items: center;
    justify-content: center;
    /* padding: 100px auto; */
    margin-bottom: 35px;
}

.hotel-title {
    /* padding: 100px auto; */
    font-size: 32px;
    font-weight: 700;
    margin: 0%;
    padding: 10px;
}
.btn-hotel{
    margin-top: 20px ;
    /* padding-top: 100px; */
}

span {
    color: #ff0303;
}


.best-offer-section {
    width: 1440px;
    margin:100px auto;
    display: flex;
    gap: 60px;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.best-offer-image {
    padding: 20px;
    border-radius: 100%;
    border: 10px solid #ff0808;
}

.best-offer-year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0%;

    padding-top:60px;
}
.best-offer-title-two{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0%;
}
.best-offer-title-one{
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 900;
    margin-top: 0%;
    margin-bottom: 0%;
}


.best-offer-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;   
}

.best-offer-image2{
    padding-top: 20px;
    width: 140px;
    height: 140px;

}

























































































.llll {
    margin: 150px auto;
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;

}

.image {
    width: 400px;
    height: 400px;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    border-radius: 100%;
    border: 10px solid #ff0000;
}

.pic {
    padding: 20px;
}